body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #444;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work-experience h3 {
    color: #a07c64;
    margin-bottom: 1rem;
}

.work-experience {
    width: 80%;
    margin-top: 2rem;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work-experience img {
    max-width: 100%;
    height: auto;
}

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #a07c64;
    margin-bottom: 1rem;
}

.media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 500px;
    overflow: hidden;
    align-items: center;
    
}

.media img,
.media video {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*圖片輪播*/
.wrap {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrap .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

.wrap .banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrap .tab {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.wrap .tab span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 4px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid burlywood;
}

.wrap .tab span:hover {
    background: orange;
}

.wrap .tab span.on {
    background: orange;
}

.wrap .prev,
.wrap .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 69px;
    background: url("images/icon-slides.png") no-repeat;
    cursor: pointer;
}

.wrap .prev {
    left: 3%;
    background-position: -84px 0;
}

.wrap .prev:hover {
    background-position: 0 0;
}

.wrap .next {
    right: 3%;
    background-position: -125px 0;
}

.wrap .next:hover {
    background-position: -43px 0;
}
